<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Todo List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <!-- begin: list -->
    <div class="list">
      <!-- begin: card item -->
      <ion-card *ngFor="let item of items; let i = index" mode="md">
        <ion-item-sliding>
          <ion-item lines="none" button="true" (click)="changeComplate(i, item)">
            <ion-icon
              *ngIf="!item.completed"
              name="radio-button-off-outline"
              slot="start"
            ></ion-icon>
            <ion-icon
              *ngIf="item.completed"
              name="radio-button-on-outline"
              color="success"
              slot="start"
            ></ion-icon>

            <ion-label>
              <h2 [style.text-decoration]="item.completed ? 'line-through': ''">
                {{ item.title }}
              </h2>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteItem(i, item)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
      <!-- end: card item -->

      <!-- begin: card add item -->
      <ion-card *ngIf="isAdding">
        <ion-item lines="none">
          <ion-input [(ngModel)]="text" placeholder="Entrer item"></ion-input>
          <ion-button shape="round" slot="end" (click)="addItem()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>
      <!-- end: card add item -->
    </div>

    <div class="actions">
      <!-- begin: button to show add item  -->
      <ion-button
        *ngIf="!isAdding"
        (click)="toggleForm()"
        expand="block"
        class="btn-action"
      >
        <ion-icon name="add" slot="start"></ion-icon>
        Add Item
      </ion-button>
      <!-- end: button to show add item  -->

      <!-- begin: button to hide add item -->
      <ion-button
        *ngIf="isAdding"
        (click)="toggleForm()"
        color="danger"
        expand="block"
        class="btn-action"
      >
        <ion-icon name="close" slot="start"></ion-icon>
        Cancle
      </ion-button>
      <!-- end: button to hide add item -->
    </div>
  </div>
</ion-content>
