<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- begin:: button -->
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>
  <!-- end: button -->

  <!-- begin:: card -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <!-- end:: card -->

  <!-- begin:: item -->
  <ion-item class="ion-margin-top">
    <ion-label> Item </ion-label>
  </ion-item>
  <!-- end:: item -->

  <!-- begin:: input -->
  <ion-item class="ion-margin-top">
    <ion-label position="floating">Floating Label</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <!-- end:: input -->

  <!-- begin:: datepicker -->
  <ion-item style="margin-top: 15px">
    <ion-label>MMM DD YY</ion-label>
    <ion-datetime
      displayFormat="MMM DD YY"
      placeholder="Select Date"
    ></ion-datetime>
  </ion-item>

  <ion-item style="margin-top: 10px">
    <ion-label position="floating">MM/DD/YYYY</ion-label>
    <ion-datetime
      displayFormat="MM/DD/YYYY"
      min="1994-03-14"
      max="2012-12-09"
      value="2002-09-23T15:03:46.789"
    ></ion-datetime>
  </ion-item>
  <!-- end:: datepicker -->

  <!-- begin:: fab -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- end:: fab -->

  <!-- begin:: grid -->
  <ion-grid>
    <ion-row>
      <ion-col> ion-col </ion-col>
      <ion-col> ion-col </ion-col>
      <ion-col> ion-col </ion-col>
    </ion-row>
  </ion-grid>
  <!-- end:: grid -->

  <ion-img src="assets/images/madison.jpg"></ion-img>

  <h3 class="my-text">Hello</h3>
  <p class="my-text-desc">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, minus?
  </p>

  <div class="ion-text-uppercase">
    <h3>text-uppercase</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
  </div>
</ion-content>
