<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- button slide menu -->
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p>This is home screen.</p>

  <ion-button [routerLink]="['/techs']">Go to Techs screen</ion-button>
  <ion-button (click)="goTechs()">Go to Techs screen with event button</ion-button>
  <!-- <ion-button [routerLink]="['/techs', '2']">Go to techs/2</ion-button> -->

  <br />

  <ion-button [routerLink]="['/tabs']">Demo Tab Menu</ion-button>
  <ion-button [routerLink]="['/slide']">Demo Slide Menu</ion-button>
</ion-content>
