<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h3>Capacitor plugins example</h3>
  <p>1. Device Info</p>
  <pre>{{ deviceInfo | json }}</pre>
  <p>2. Camara</p>
  <button ionic-button (click)="takePicture()">Take Photo</button>
  <img *ngIf="imageUrl" [src]="imageUrl" />

  <h3>Cordova plugin example</h3>
  <p>1. App Version</p>
  <p>app name: {{ name }}</p>
  <p>app version: {{ version  }}</p>
</ion-content>
