<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Default back button -->
      <ion-back-button></ion-back-button>

      <!-- Back button with a default href -->
      <!-- <ion-back-button defaultHref="home"></ion-back-button> -->

      <!-- Back button with custom text, icon, color -->
      <!-- <ion-back-button text="back" icon="add" color="warning" defaultHref="/"></ion-back-button> -->
    </ion-buttons>

    <ion-title>techs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let tech of techs; let i = index;">
    <ion-item button (click)="showDetail(i)">
      <ion-icon slot="start" [name]="'logo-' + tech.icon" [style.color]="tech.color"></ion-icon>
      <ion-label>
        <h3>{{tech.title}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
